.homePage{
  position: relative;
  display: flex
}

.homePage img{
  width: 745px;
  height: 1118px;
}

.text{
  position: absolute;
  width: 695px;
  height: 143px;
  top: 853px;
  left: 62px;

  font-family: Roboto;
  font-size: 55px;
  font-weight: 900;
  line-height: 78px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  
} 

.rightPanel{
  background-color: black;
  width: 845px;
  height: 1118px;
  display: inline;
}
.form{
  width: 518px;
  height: 800px;
  margin: 0px 0px 0px 47px;
}

.form h2{
  /* width: 239px; */
  text-align: center;
  /* height: 94px; */
  top: 110px;
  left: 1179px;

  font-family: Single Day;
  font-size: 67px;
  font-weight: 400;
  /* line-height: 94px; */
  letter-spacing: 0em;
  /* text-align: left; */
  color: rgba(114, 219, 115, 1);

}

.createAccountPara{
  text-align: center;
  font-family: DM Sans;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  /* text-align: left; */
  color: rgba(255, 255, 255, 1);

  margin: -45px 0px 0px 0px;
}

.formElements{
  display: inline;
}

.formElements input{
  width: 418px;
  height: 64px;
  margin: 21px 0px 0px 100px;
  background-color: rgba(41, 41, 41, 1);
  color: rgba(124, 124, 124, 1);

  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
  /* text-align: left; */

}

.errors{
  width: 154px;
  height: 0px;
  margin: 21px 0px 0px 100px;
/* top: 320px */
/* left: 1047px */

  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(255, 0, 0, 1);

}

#terms{
  width: 18px;
  height: 18px;
}

.terms{
  margin: 0px 0px 0px 10px;
  font-family: DM Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-align: left;

  color: rgba(124, 124, 124, 1);

}

.signup{
  width: 418px;
  height: 55px;
  top: 761px;
  left: 1047px;
  border-radius: 28px;
  margin: 30px 0px 0px 105px;
  background-color: rgba(114, 219, 115, 1);
}

.termsAndPolicy{
  margin: 40px 0px 0px 100px;
}

.termsAndPolicy p{
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-align: left;

  color: rgba(124, 124, 124, 1);
}